/* 导航主体 */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 30px;
    font-size: 15px;
    color: #888;
}
.nav-side .active .link{
    color: #ea3922;
} 
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}