<!DOCTYPE html>
<html>
    <head>
        <title>购物车-STORE</title>
    </head>
    <body>
        <%= require("html-loader!./layout/common.html")  %>
        <%= require("html-loader!./layout/nav.html")  %>
        <%= require("html-loader!./layout/header.html")  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">MMall</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            
        </div>
        <%= require("html-loader!./layout/footer.html")  %>
    </body>
</html>