<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <title>订单确认-STORE</title>
</head>
<body>
    <%= require("html-loader!./layout/common.html")  %>
<%= require("html-loader!./layout/nav.html") %>
<%= require("html-loader!./layout/header.html") %>
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a href="./index.html" class="link">STORE</a>
            <span> ></span>
            <span class="link-text">订单确认</span>
        </div>
    </div>
</div>
<div class="page-wrap w">
    <div class="panel">
        <h1 class="panel-title">收货地址</h1>
        <div class="panel-body address-con">
        </div>
    </div>
    <div class="panel">
        <h1 class="panel-title">商品清单</h1>
        <div class="panel-body product-con">
        </div>
    </div>
</div>
<div class="modal-wrap">
</div>
<%= require("html-loader!./layout/footer.html") %>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script> 
</body>
</html>