/* css reset */
*{
    margin: 0;
    padding:0;
}
body{
    background: #f6f6f6;
    font:12px/1.5 
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
lable{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.hide{
    display: none;
}
.link{
    color: #999;
    cursor: pointer;
}
.link:hover{
    color: #e88012; 
}
.link-text{
   color: #999;
   text-decoration: none;
}
.link-text:hover{
    color: #e88012; 
}
.btn{
    display: inline-block;
    height: 34px;
    line-height: 33px;
    padding: 0 20px;
    vertical-align: middle;
    font-weight: bold;
    background: #ea3922;
    color: #fff;
    outline: none;
    font-size: 16px;
    border: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
.loading{
    margin: 10px auto;
    display: block;
    background: url(../../image/icon/loading.gif) no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}
.notice{
    background: #bb0808;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.notice .warning{
    font-size: 16px;
    font-weight: bold;
    color: #f5eeeb;
}